<div class="home-body d-flex justify-content-center align-items-center pt-5">
  <div class="info text-center w-75 mt-5">
    <h2 class="m-5 ">ABOUT COMPONENT</h2>
    <div
      class="about-info d-flex justify-content-center align-items-center mb-5"
    >
      <p class="me-5">
        Freelancer is a free bootstrap theme created by Route. The download
        includes the complete source files including HTML, CSS, and JavaScript
        as well as optional SASS stylesheets for easy customization.
      </p>
      <p>
        Freelancer is a free bootstrap theme created by Route. The download
        includes the complete source files including HTML, CSS, and JavaScript
        as well as optional SASS stylesheets for easy customization.
      </p>
    </div>
  </div>
</div>
