<div class="container pt-5">
  <h2 class="text-center m-5">CONATCT SECTION</h2>
  <div class="form w-75 mx-auto">

    <label for="">UserName:</label>
    <input
      type="text"
      name="name"
      placeholder="UserName"
      class="form-control m-4"
    />
    <label for="">UserAge:</label>
    <input
      type="number"
      name="age"
      placeholder="UserAge"
      class="form-control m-4"
    />
    <label for="">UserEmail:</label>
    <input
      type="email"
      name="email"
      placeholder="UserEmail"
      class="form-control m-4"
    />
    <label for="">UserPassword:</label>
    <input
      type="password"
      name="password"
      placeholder="UserPassword"
      class="form-control m-4"
    />

    <button class="btn bg-success m-4">send message</button>
  </div>
</div>
